<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Full Suite" verbose="1">
    <listeners>
        <listener class-name="appium.helpers.StartAndStopSuitelistener"/>
    </listeners>

    <test name="all-appium-tests">
        <packages>
            <package name="appium.test.*" />
        </packages>
    </test>

</suite>
